@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;700&display=swap');

:root {
    --nav-col: #101725;
    --yellow-button: #F4C117;
    --orangish: #DB7C26;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 60px;
    width: 100%;
    background-color: var(--nav-col);
    display: flex;
    padding: 0px 96px 0px 96px;
    justify-content: space-between;
    z-index: 0;
    z-index: 10;
}

nav {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    background: linear-gradient(to bottom, var(--nav-col) 0%, transparent 100%);
    padding: 0px 96px 0px 96px;
}

a {
    all: unset;
    cursor: pointer;
}

main {
    height: calc(100vh - 60px);
    background-size: cover;
    background-position: center;
    position: relative;
}

main * {
    z-index: 10;
}

.backdrop {
    height: 100%;
    width: 100%;
    /* background-color: var(--nav-col); */
    background: radial-gradient(circle, var(--nav-col), transparent);
    opacity: 0.4;
    position: absolute;
}

.logo {
    height: 36px;
}

.header-right {
    display: flex;
    gap: 32px;
    align-items: center;
    height: 100%;
}

.header-right-sub {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    display: flex;
    gap: 16px;
}

.header-right-sub img {
    height: 20px;
}

.header-left {
    display: flex;
    gap: 24px;
    align-items: center;
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    display: flex;
    gap: 32px;
}

.header-left a {
    display: flex;
    align-items: center;
    gap: 8px;
}


.loc-mail-call {
    height: 16px;
}

.full-flex {
    height: 100%;
    width: 100%;
    display: flex;
}

.ai-jc {   
    align-items: center;
    justify-content: center;
}

.hero {
    text-align: center;
    height: calc(100vh - 132px);
}

.hero {
    align-items: center;
    justify-content: center;
}


.hero-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: white;    
}

.hero-text h3 {
    font-size: 22px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 24px;
}

.explore-button {
    margin: auto;
    background-color: var(--yellow-button);
    border-radius: 50px;
    height: 60px;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 24px;
    display: flex; align-items: center;
    justify-content: space-between;
    width: full;
    gap: 90px;
    padding: 0px 8px 0px 8px;
    border-bottom: none;
}

.explore-button img {
    height: 40px;
}

.logo-right {
    display: flex;
    color: white;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    height: 100%;
    gap: 24px;
    font-size: 13px;
}

.tall-line {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 96px;
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--yellow-button);
    border-radius: 8px;
    height: 32px;
    padding: 4px 8px 4px 12px;
    border: 2px solid white;
    gap: 8px;
    font-family: 'Montserrat', sans-serif;
}

.contact-button svg {
    margin-top: 4px;
}

/*  2nd Page    */

.about-us {
    padding: 96px;
    display: flex;
    height: 110vh;
    gap: 60px;
}


.about-us-left {
    flex: 2;
    font-family: Montserrat, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about-us-vid {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-play {
    position: absolute;
}


.about-us h5 {
    font-weight: normal;
    font-size: 16px;
}


.about-us h2 {
    color: var(--orangish);
    padding-bottom: 16px;
    font-size: 32px;
}

.about-us p {
    font-size: 12px;
    margin-bottom: 48px;

}

.about-us-left > p {
    width: 80%;
}


.about-left {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.about-us-left-bottom {
    gap: 60px;
    display: flex;
    flex: 1;

}

.crazy {
    flex: 1;
    object-fit: cover;
    width: 50%;
    background-size: cover;
}


.about-us-left-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.list-points {
    list-style: disc;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 56px;
    padding-left: 8px;
}

.list-points li {
    text-indent: 1rem;
}
.list-points li::marker {
    color: var(--orangish)
}

.orange-text {
    color: var(--orangish);
}

.miss-viss {
    display: flex;
    gap: 8px;
    align-items: start;
    margin-left: -16px;
    margin-top: -24px;
}

.miss-viss div h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.miss-viss div p {
    font-size: 12px;
    font-weight: 400;
}

.miss-viss img {
    margin: 2px;
}

.discover-button {
    background-color: var(--yellow-button);
    border-radius: 50px;
    height: 40px;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: flex; align-items: center;
    justify-content: space-between;
    width: full;
    gap: 24px;
    padding: 0px 8px 0px 8px;
}

.discover-button img {
    height: 20px;
}

.about-vid {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Services */

.services {
    height: 100vh;
    padding: 96px;
    text-align: center;

    font-family: Montserrat, sans-serif;;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.services h5 {
    font-weight: normal;
    font-size: 16px;
    padding: 16px;
    
}


.services h2 {
    color: var(--orangish);
    padding-bottom: 16px;
    font-size: 32px;
    
}

.request-quote-button {
    background-color: var(--yellow-button);
    border-radius: 50px;
    height: 40px;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: flex; align-items: center;
    justify-content: space-between;
    width: full;
    gap: 48px;
    padding: 0px 8px 0px 24px;
}

.request-quote-button img {
    height: 20px;
}

.service-card {
    height: 260px;
    width: 180px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;

    display: flex;
    flex-direction: column;

    padding: 22px;

    font-family: 'Poppins', sans-serif;

    text-align: start;
    justify-content: space-between;
}

.service-card-button {
    background: white;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    height: 32px;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 4px 4px 4px 24px;
}

.service-card-button img {
    height: 20px;
    transform: rotate(-45deg);
}

.service-card-img {
    height: 88px;
    width: 136px;
    border-radius: 2px;
    object-fit: cover;
}

.service-card h3 {
    font-size: 16px;
    font-weight: 600;
}

.service-card p {
    font-size: 12px;
    font-weight: 300;
}

.service-cards-container {
    display: flex;
    gap: 24px;
}