@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;700&display=swap');

:root {
    --nav-col: #101725;
    --yellow-button: #F4C117;
    --orangish: #DB7C26;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 60px;
    width: 100%;
    background-color: var(--nav-col);
    display: flex;
    padding: 0px 96px 0px 96px;
    justify-content: space-between;
    z-index: 0;
    z-index: 10;
}

nav {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    background: linear-gradient(to bottom, var(--nav-col) 0%, transparent 100%);
    padding: 0px 96px 0px 96px;
}

a {
    all: unset;
    cursor: pointer;
}

main {
    height: calc(100vh - 60px);
    background-size: cover;
    background-position: center;
    position: relative;
}

main * {
    z-index: 10;
}

.backdrop {
    height: 100%;
    width: 100%;
    /* background-color: var(--nav-col); */
    background: radial-gradient(circle, var(--nav-col), transparent);
    opacity: 0.4;
    position: absolute;
}

.logo {
    height: 36px;
}

.header-right {
    display: flex;
    gap: 32px;
    align-items: center;
    height: 100%;
}

.header-right-sub {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    display: flex;
    gap: 16px;
}

.header-right-sub img {
    height: 20px;
}

.header-left {
    display: flex;
    gap: 24px;
    align-items: center;
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    display: flex;
    gap: 32px;
}

.header-left a {
    display: flex;
    align-items: center;
    gap: 8px;
}


.loc-mail-call {
    height: 16px;
}

.full-flex {
    height: 100%;
    width: 100%;
    display: flex;
}

.ai-jc {   
    align-items: center;
    justify-content: center;
}

.hero {
    text-align: center;
    height: calc(100vh - 132px);
}


.hero-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: white;    
}

.hero-text h3 {
    font-size: 22px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 24px;
}

.explore-button {
    margin: auto;
    background-color: var(--yellow-button);
    border-radius: 50px;
    height: 60px;
    border: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 24px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: full;
    gap: 90px;
    padding: 0px 8px 0px 8px;
    border-bottom: none;
}


.explore-button img {
    height: 40px;
}

.logo-right {
    display: flex;
    color: white;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    height: 100%;
    gap: 24px;
    font-size: 13px;
}

.tall-line {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 96px;
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--yellow-button);
    border-radius: 8px;
    height: 32px;
    padding: 4px 8px 4px 12px;
    border: 2px solid white;
    gap: 8px;
    font-family: 'Montserrat', sans-serif;
}

.contact-button svg {
    margin-top: 4px;
}

/*  2nd Page    */

.about-us {
    padding: 96px;
    display: flex;
    height: 110vh;
    gap: 60px;
}


.about-us-left {
    flex: 2;
    font-family: Montserrat, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about-us-vid {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-play {
    position: absolute;
}


.about-us h5 {
    font-weight: normal;
    font-size: 16px;
}


.about-us h2 {
    color: var(--orangish);
    padding-bottom: 16px;
    font-size: 32px;
}

.about-us p {
    font-size: 12px;
    margin-bottom: 48px;

}

.about-us-left > p {
    width: 80%;
}


.about-left {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.about-us-left-bottom {
    gap: 60px;
    display: flex;
    flex: 1;

}

.crazy {
    flex: 1;
    object-fit: cover;
    width: 50%;
    background-size: cover;
}


.about-us-left-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.list-points {
    list-style: disc;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 56px;
    padding-left: 8px;
}

.list-points li {
    text-indent: 1rem;
}
.list-points li::marker {
    color: var(--orangish)
}

.orange-text {
    color: var(--orangish);
}

.miss-viss {
    display: flex;
    gap: 8px;
    align-items: start;
    margin-left: -16px;
    margin-top: -24px;
}

.miss-viss div h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.miss-viss div p {
    font-size: 12px;
    font-weight: 400;
}

.miss-viss img {
    margin: 2px;
}

.discover-button {
    background-color: var(--yellow-button);
    border-radius: 50px;
    height: 40px;
    border: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    display: flex; align-items: center;
    justify-content: space-between;
    width: full;
    gap: 24px;
    padding: 0px 8px 0px 8px;
}

.discover-button img {
    height: 20px;
}

.about-vid {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Services */

.services {
    height: 100vh;
    padding: 96px;
    text-align: center;

    font-family: Montserrat, sans-serif;;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.services h5 {
    font-weight: normal;
    font-size: 16px;
    padding: 16px;
    
}


.services h2 {
    color: var(--orangish);
    padding-bottom: 16px;
    font-size: 32px;
    
}

.request-quote-button {
    background-color: var(--yellow-button);
    border-radius: 50px;
    height: 40px;
    border: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    display: flex; align-items: center;
    justify-content: space-between;
    width: full;
    gap: 48px;
    padding: 0px 8px 0px 24px;
}

.quote-second {
    border: none;
    background-color: white;
    color: #1c1b1f;
    padding: 0px 6px 0px 24px;
    
}

.quote-second span img {
    height: 28px;
}

.request-quote-button img {
    height: 20px;
}

.service-card {
    height: 260px;
    width: 180px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;

    display: flex;
    flex-direction: column;

    padding: 22px;

    font-family: 'Poppins', sans-serif;

    text-align: start;
    justify-content: space-between;
}

.service-card:hover {
    background: var(--yellow-button);
    color: white;
}

.service-card-button {
    background: white;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    height: 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 4px 4px 4px 24px;
}

.service-card-button img {
    height: 20px;
    transform: rotate(-45deg);
}

.service-card-img {
    height: 88px;
    width: 136px;
    border-radius: 2px;
    object-fit: cover;
}

.service-card h3 {
    font-size: 16px;
    font-weight: 600;
}

.service-card p {
    font-size: 12px;
    font-weight: 300;
}

.service-cards-container {
    display: flex;
    gap: 24px;
}

.why-trust {
    height: 100vh;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.trusted-img {
    width: 50%;
    background-size: cover;
    background-position: center;
}

.trust-points {
    width: 50%;
    background-color: var(--yellow-button);
    padding: 48px 96px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.why-trust h2 {
    color: white;
    font-size: 24px;
}

.trust-boxes {
    border-radius: 8px;
    background-color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    width: 70%;
}

.big-trust {
    width: 80%;
}

.trust-boxes img {
    height: 40px;
}

.trust-boxes h3 {
    font-size: 16px;
}

.trust-boxes p {
    font-size: 12px;
}

.trust-boxes-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Capabilities */

.capabilities {
    height: 120vh;
    padding: 96px;
    text-align: center;

    font-family: Montserrat, sans-serif;;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}

.capabilities h5 {
    font-weight: normal;
    font-size: 16px;
    padding: 16px;
    
}


.capabilities h2 {
    color: var(--yellow-button);
    padding-bottom: 16px;
    font-size: 32px;
    
}

.production-values-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.page-center {
    margin-left: 192px;
    width: 100%;
}

.production-value {
    border-radius: 50%;
    width: 25%;
    aspect-ratio: 1/1;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -48px;
}

.production-value div h2 {
    font-weight: 600;
    font-size: 64px;
    color: var(--orangish);
}

.production-value div p {
    font-weight: 400;
    font-size: 16px;
}

.wider-button {
    gap: 160px;
}

.products-section {
    height: 100vh;
    padding: 96px;
    text-align: center;

    font-family: Montserrat, sans-serif;;

    background-color: #fafafa;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.products {
    width: 100%;
}

.products-nav {
    width: 100%;
    padding: 0px 96px 0px 96px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.product-selected {
    color: var(--orangish);
    border-bottom: 2px solid var(--orangish);
    font-weight: 600;
}

.products-nav a {
    padding: 8px 24px
}

.product-categories button{
    width: 160px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.product-categories button:hover{
    background-color: var(--orangish);
    color: white;
}

.product-categories {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 96px 0px 96px;
}

.product-card {
    width: 224px;
    height: 260px;
}

.client-section {
    height: 75vh;
    padding: 96px;
    text-align: center;

    font-family: Montserrat, sans-serif;;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: #182336;
}

.client-section h5 {
    font-weight: normal;
    font-size: 20px;
    font-weight: 500;
    color: white;
    
}

.client-section h2 {
    color: var(--yellow-button);
    padding-bottom: 16px;
    font-size: 44px;
    font-weight: 700;
    
}

.slider-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
}


.slider-circle button {
    all: unset;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #666;

}

.slider-circle button.slider-circle-current {
    background-color: var(--yellow-button);

}



.certificate-section {
    height: 90vh;
    padding: 96px;
    text-align: center;

    font-family: Montserrat, sans-serif;;

    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: space-between;
    align-items: center;

}

.certificate-section h5 {
    font-weight: normal;
    font-size: 20px;
    font-weight: 500;
    color: black;
    
}

.certificate-section h2 {
    color: var(--yellow-button);
    padding-bottom: 16px;
    font-size: 44px;
    font-weight: 700;
    
}

.gallery-section {
    height: 90vh;
    position: relative;

    padding: 120px;

    display: flex;

}

.gallery-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.15; 
    z-index: -1;
}


.gallery-text h2 {
    color: var(--orangish);
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 700;

}

.gallery-text {
    flex: 1;

    display: flex;
    align-items: center ;
}

.gallery-text p {
    padding-right: 96px;

    margin-top: 64px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    color: #25214E;
}

.gallery-images {
    flex: 2;

    display: flex;
    align-items: center;
}

.gallery-images img {
    width: 240px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    margin: 12px;
}

.testimonial-section {
    height: 100vh;
    padding: 96px;
    text-align: center;

    font-family: Montserrat, sans-serif;;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.testimonial-section h2 {
    font-weight: normal;
    font-size: 48px;
    font-weight: 700;
    color: var(--orangish);
    
}

.testimonial-card {
    height: 360px;
    width: 280px;
    border-radius: 12px;
    border: 1px solid var(--yellow-button);
    background: #f9f9f9;

    display: flex;
    flex-direction: column;

    font-size: 14px;
    text-align: start;

    padding: 24px;
    line-height: 28px;
    justify-content: space-between;

}

.testi-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testi-name {
    font-weight: 700;
}

.testi-logo {
    height: 20px;
    width: 50px;
    border-radius: 0%;
    object-fit: contain;
}

.testi-per {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;

    margin-bottom: 24px;
}

.testimonial-cards {
    display: flex;
    align-items: end;
    gap: 72px;}


.selected-testimonial-card {
    height: 378px;
    width: 294px;
    background: linear-gradient(to top, #fae194, white);
}

.footer-section {
    padding: 96px;
    padding-bottom: 48px;
    text-align: center;

    font-family: Montserrat, sans-serif;;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    background-color: var(--nav-col);
}

.footer-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px; 
    align-items: start;
}

.footer-left a {
    display: flex;
    text-align: start;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 12px;
}

.footer-left-outer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    gap: 48px;
}

.footer-middle {
    flex: 2;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-middle-links {
    display: flex;
    gap: 32px; 
    align-items: center;
    justify-content: center;

    margin-bottom: 48px;
}

.footer-map {
    flex: 1;
    height: 284px;
    width: 284px;
    border-radius: 12px;
}

.footer-left-outer > img {
    height: 48px;
}

.small-text {
    color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.footer-left {
    width: 90%;
}

.footer-para {
    text-align: start;

    padding-bottom: 96px;
}

.padding-bot-small {
    padding-bottom: 12px;
}

.rot-180 {
    transform: rotate(180deg);
}

.testi-arrows {
    display: flex;
    gap: 24px;
}


.testi-arrows img {
    height: 40px;
}